.sub-title
{
    font-size: 18px;
    line-height: 1.8;
}

.yogaicon
{
  margin-top: 40px;
  color: #ab3c94;
  margin-left: -300px; 
  font-size: 50px !important;
  height: 50px;
  width: 50px;
}
@media (max-width: 768px) {
  .yogaicon
{
  margin-top: 40px;
  color: #ab3c94;
  margin-left: -400px; 
  font-size: 50px !important;
}
} 

.yogaicon1
{
  margin-top: 40px;
  color: #ab3c94;
  margin-left: -500px; 
  font-size: 50px !important;
}
@media (max-width: 768px) {
  .yogaicon1
  {
    margin-top: 40px;
    color: #ab3c94;
    margin-left: -370px; 
    font-size: 50px !important;
  }
}
.btnonline{

  background-color: #ab3c94;
  height: 60px;
  width: 150px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 600px;
  border-radius: 8px;
  border: none;
  margin-left: -350px;
}
@media (max-width: 768px) {
  .btnonline{

    background-color: #ab3c94;
    height: 60px;
    width: 150px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 600px;
    border-radius: 8px;
    border: none;
    margin-left: -250px;
  }
}


/* color box */
.box
{
    background-color: #ab3c94 !important;
    color: white;
    height: 400px;
    margin-bottom: 100px;
}
@media only screen and (max-width: 768px) {
    .box
{
    background-color: #ab3c94 !important;
    color: white;
    height: 380px;
    margin-bottom: 30px;
}
  }
.box-title
{
    color:white;
    font-size: 30px;
    padding-top:30px;
    padding-left: 30px;
    text-align: left;
}
.box-content
{
    color: white !important;;
    font-size: 20px !important;
    padding-top:30px;
    padding-left: 30px;
    text-align: left !important;
    margin-top: -30px;
    padding-right: 30px;
}
.btn1
{
    color: #ab3c94 !important;
    background-color: white !important;
    border-radius:30px !important;
    width:200px;
    height: 60px;
    margin-left: 0px;
}
.btn1:hover
{
    color: white !important;
    background-color: #ab3c94 !important;
    border-radius:30px !important;
    width:200px;
    height: 60px;
    margin-left: 0px;
}
/* white box */
.box3 {
    background-color: white !important;
    color: #ab3c94 !important;
    height: 200px;
    margin-bottom: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}

.box3:hover {
    background-color: #ab3c94 !important;
    color: white !important;
    height: 200px;
    margin-bottom: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}

.box3:hover .box-title3 {
    color: white !important;
}

@media only screen and (max-width: 768px) {
    .box3 {
        background-color: white !important;
        color: #ab3c94 !important;
        height: 250px !important;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 30px;
    }
}

.box-title3 {
    color: #ab3c94 !important;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
}
.box-content3
{
    color: black !important;
    font-size: 18px !important;
    padding-top:30px;
    padding-left: 30px;
    text-align: left !important;
    
}

.box3:hover .box-content3 {
    color: white !important;
}


/* box 4 */

.box4 {
  background-color: white !important;
  color: #ab3c94 !important;
  height: 200px;
  margin-bottom: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
}

.box4:hover {
  background-color: #ab3c94 !important;
  color: white !important;
  height: 200px;
  margin-bottom: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
}

.box4:hover .box-title4 {
  color: white !important;
}

@media only screen and (max-width: 768px) {
  .box4 {
      background-color: white !important;
      color: #ab3c94 !important;
      height: 280px !important;
      margin-bottom: 30px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 30px;
  }
}

.box-title4 {
  color: #ab3c94 !important;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
}
.box-content4
{
  color: black !important;
  font-size: 18px !important;
  
  padding-left: 30px;
  text-align: left !important;
  
}

.box4:hover .box-content4 {
  color: white !important;
}


.inner-text
{
  text-align: left;
  font-size: 18px !important;
}

.yogaicon1
{
  margin-top: 0px;
  color: #ab3c94;
  margin-left: 00px !important; 
  font-size: 30px !important;
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .yogaicon1
{
  margin-top: 40px;
  color: #ab3c94;
  margin-left: -400px; 
  font-size: 50px !important;
}
} 

.box3:hover .yogaicon1 {
  color: white;
}

.box4:hover .yogaicon1 {
  color: white;
}

@media (max-width: 768px) {
  .gallery
{
  margin-top: 20px;
}
} 

.gallery1{
  margin-top: 20px;
}

.car {
  margin-top: 60px !important;
}
@media only screen and (max-width: 768px) {
  .car {
      margin-top: 160px !important;
  }
}
